#text {
  display: block;
  height: 100px;
  width: 456px;
}

#tabulka th {
  text-align: center;
  font-weight: bold;
}

#tabulka td {
  width: 150px;
  white-space: nowrap;
  text-align: center;
  vertical-align: bottom;
  padding-top: 5px;
  padding-bottom: 12px;
  cursor: pointer;
}

#tabulka .nw {
  background: #999;
}

#tabulka .n {
  background: #03f;
  color: #fff;
}

#tabulka .ne {
  background: #ff6;
}

#tabulka .w {
  background: #ff0;
}

#tabulka .c {
  background: #60c;
  color: #fff;
}

#tabulka .e {
  background: #09f;
  color: #fff;
}

#tabulka .sw {
  background: #963;
  color: #fff;
}

#tabulka .s {
  background: #f60;
  color: #fff;
}

#tabulka .se {
  background: #0c3;
  color: #fff;
}

#tabulka .highlight {
  background: red;
}
