#číslice {
  width: .5em;
  overflow: hidden;
  font: 32px monospace;
  cursor: pointer;
}

#pás {
  display: inline-block
}

#pás.animace {
  transform: translate(-90%);
  transition-property: transform;
  transition-duration: 9s;
  transition-timing-function: linear;
}
