#tabulka-pa-kua th {
  text-align: center;
  font-weight: bold;
}

#tabulka-pa-kua td {
  width: 150px;
  white-space: nowrap;
  text-align: center;
  vertical-align: bottom;
  padding-top: 5px;
  padding-bottom: 12px;
}

#tabulka-pa-kua .nw {
  background: #999;
}

#tabulka-pa-kua .n {
  background: #03f;
  color: #fff;
}

#tabulka-pa-kua .ne {
  background: #ff6;
}

#tabulka-pa-kua .w {
  background: #ff0;
}

#tabulka-pa-kua .c {
  background: #60c;
  color: #fff;
}

#tabulka-pa-kua .e {
  background: #09f;
  color: #fff;
}

#tabulka-pa-kua .sw {
  background: #963;
  color: #fff;
}

#tabulka-pa-kua .s {
  background: #f60;
  color: #fff;
}

#tabulka-pa-kua .se {
  background: #0c3;
  color: #fff;
}

#tabulka-pa-kua .zvýrazni {
  background: red;
}